// Combobox Customizado - Styled
.Styled{
    vertical-align: middle;
}

select.Styled{
    position: relative;
    z-index: 10;
    cursor: pointer;
    &.hiddenStyle{
        @include opacity(0);
    }
}

span.Styled{
    @include box-sizing(border-box);
    @include font-size(12px);
    background:{
        image: image-url('sprites/bt/select.png');
        position: 85% center;
        repeat: no-repeat;
        color: white;
    };
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    display: block;
    padding: 0px 5px;
    width: 42px !important;
    height: 40px;
    border: 1px solid $gray;
    line-height: 40px;
}

.fale{
    &.boxWhite{
        @extend %container;
        max-height: 550px;
    }
    small{
        @extend %sass-margin-bottom;
        display: block;
    }
    .frm{
        textarea{
            width: 380px;
            min-height: 100px;
        }
        select,
        input[type=text]{
            width: 190px;
            &.ped{
                width: 50px;
                margin-right: 10px;
            }
            &.ped-rev{
                margin-right: 0px;
            }
            &.med{
                width: 131px;
            }
            &.med-rev{
                margin-right: 10px;
            }
        }
        .act{
            top: 27px;
        }
        .bloco{

            .blocoFrm{
                @include inline-block;
                font-size: 0;
                margin-right: 18px;
                margin-bottom: 18px;
                position: relative;
                &:last-child{
                    margin-right: 0px;
                }
                span.Styled{
                    top: 22px;
                    left: 145px;
                }
            }
        }
    }
} 
