.fale{
    &.boxWhite{
        @extend %container;
    }
    .frm{
        textarea{
            width: 440px;
            min-height: 100px;
        }
        select,
        input[type=text]{
            width: 210px;
            &.ped{
                width: 50px;
                margin-right: 10px;
            }
            &.med{
                width: 150px;
            }
        }
        button{
            top: 26px;
        }
        .bloco{
            margin-bottom: 20px;
            .blocoFrm{
                font-size: 0;
                @include inline-block;
                margin-right: 20px;
                &:last-child{
                    margin-right: 0px;
                }
            }
        }
    }
} 