.fale{
    &.boxWhite{
        @extend %container;
    }
    small{
        @extend %sass-margin-bottom;
        display: block;
    }
    .frm{
        textarea{
            width: 440px;
            min-height: 100px;
        }
        select,
        input[type=text]{
            width: 210px;
            &.ped{
                width: 50px;
                margin-right: 10px;
            }
            &.ped-rev{
                margin-right: 0px;
            }
            &.med{
                width: 150px;
            }
            &.med-rev{
                margin-right: 10px;
            }
        }
        button{
            top: 26px;
        }
        .bloco{
            margin-bottom: 20px;
            .blocoFrm{
                @include inline-block;
                font-size: 0;
                margin-right: 20px;
                position: relative;
                &:last-child{
                    margin-right: 0px;
                }
                span.Styled{
                    top: 24px;
                    left: 160px;
                }
            }
        }
    }
}