$laranja: #ee7c48;
$gray: #dddddd;
$black: #626262;
$roxo: #7a4f66;


html{
    color: $black;
    font-size: $base-font-size;
}

body{
    font-family: $brand-face;
}

.main{
    width: 100%;
    min-width: $total-width;
    height: 774px;
    overflow: hidden;
    background:{
        image: image_url('bgs/home.jpg');
        repeat: no-repeat;
        position: 50% 0%;
    }
}

.wrapper{
    @include clear-floats;
    @include helperGrid($gh1, $show);
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: $total-width;
    padding-top: 15px;
}

// Logo
.logo{
    width: 119px;
    height: 256px;
    background:{
        image: image_url('logo.png');
        repeat: no-repeat;
        position: 0% 0%;
    }    
}

// Menu
.menu{
    list-style:none;
    margin-left:0;
    @extend .cf;
    li{
        @include font-size(16px);
        padding-left: 30px;
        color: $brand-color;
        background:{
            image: image_url('linha.png');
            repeat: no-repeat;
            position: 0% 100%;
        }
        a{
            color: $brand-color;
            display: block;
            padding: 10px 0px 10px;
            font-style: italic;
        }
        &.current > a{
            cursor: text;
            text-decoration: none;
            font-weight: bold;
        }
    }
}

// Login
.auth{
    margin-bottom: 115px;
    position: relative;
    min-height: 50px;
    background:{
        image: image_url('auth.png');
        repeat: no-repeat;
        position: 0% 100%;
    }
    label{
        color: $laranja;
        font-style: italic;
    }
}

// Erro 404
.notFound{
    @extend .text--center;
    @include font-size(22px);
    color: black;
    padding: 50px 10px;
}

// Formulário
.frm{
    &.inline{
        label,
        input[type=text],
        input[type=password]{
            @include inline-block;
        }
    }
    label{
        @include font-size(14px);
        font-weight: normal;
    }
    select,
    input[type=text],
    input[type=password],
    textarea {
        @include box-sizing(border-box);
        @include font-size(12px);
        @include transition(all 0.30s ease-in-out);
        padding: 0 10px;
        height: 40px;
        outline: none;
        border: 1px solid $gray;
        &:focus{
            @include box-shadow(0 0 5px rgba($laranja, 1));
            border: 1px solid rgba($laranja, 1);
        }
    }
}

// Footer
.theFooter{
    background-color: white;
    padding: 10px;
    @include box-shadow(rgba($gray, 1) 0 0 25px);
}

// Box Branco
.boxWhite{
    background:{
        image: image_url('white.png');
        repeat: repeat;
        color: transparent;
    }    
}

%container{
    @include box-sizing(border-box);
    width: 100%;
    padding: 20px;
}

// Scrooll
.container {
    @extend %container;
    height: 300px;
    overflow:hidden;
    .content{

    }
}

// Headers
.alpha{
    @extend .caps;
    @include font-size(20px);
    color: $brand-color;
}

.beta{
    @include font-size(18px);
    font-weight: normal;
    font-style: italic;
}

h2 {
    color:$roxo;
    font-style: italic;
    font-weight: bold;
    @include font-size(20px);
}
h3 {
    color:$black;
    font-style: italic;
    font-weight: normal;
    @include font-size(18px);
}