$laranja: #ee7c48;
$gray: #dddddd;
$black: #333333;
$roxo: #7a4f66;

html{
    color: $black;
    font-size: $base-font-size;
}

body{
    font-family: $brand-face;
}

.wrapper{
    @include clear-floats;
    @include helperGrid($gh1, $show);
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 1300px;
}

.main{
    margin-left: auto;
    margin-right: auto;
    width: 1300px;
    height: 771px;
    overflow: hidden;
    background:{
        image: image_url('pattern.jpg');
        repeat: no-repeat;
        position: 50% 0%;
    }
    .wrapper{
        $padTop: 15px;
        padding-top: $padTop;
        height: 771px - $padTop;
        background:{
            image: image_url('bgs/home.png');
            repeat: no-repeat;
            position: 100% 100%;
        }
    }
}

.main > .wrapper > .customPad{
    padding-left: 30px;
}

$leftPos: 80px;

// Logo
.logo{
    margin-left: $leftPos;
    width: 119px;
    height: 256px;
    background:{
        image: image_url('logo.png');
        repeat: no-repeat;
        position: 0% 0%;
    }    
}

// Menu
.menu{
    list-style:none;
    margin-left:0;
    @extend .cf;
    li{
        @include font-size(16px);
        padding-left: $leftPos;
        color: $brand-color;
        background:{
            image: image_url('linha.png');
            repeat: no-repeat;
            position: 60px 100%;
        }
        a{
            color: $brand-color;
            display: block;
            padding: 10px 0px 10px;
            font-style: italic;
        }
        &.current > a{
            cursor: text;
            text-decoration: none;
            font-weight: bold;
        }
    }
}

// Login
.auth{
    margin-bottom: 115px;
    position: relative;
    min-height: 50px;
    background:{
        image: image_url('auth.png');
        repeat: no-repeat;
        position: 0% 100%;
    }
    label{
        color: $laranja;
        font-style: italic;
    }
    a{
        @include inline-block;
        @include font-size(14px);
        @extend .caps;
        position: relative;
        margin-left: 10px;
        font-weight: normal;
        font-style: italic;
        i{
            position: absolute;
            top: 26px;
            left: 20px;
        }
        &.branco{
            color: white;
            .seta{
                @extend .icon-seta_login_branca;
            }
        }
        &.roxo{
            color: $roxo;
            .seta{
                @extend .icon-seta_login_roxa;
            }
        }
    }
}

// Erro 404
.notFound{
    @extend .text--center;
    @include font-size(22px);
    color: black;
    padding: 50px 10px;
}

// Formulário
.frm{
    label{
        @include font-size(14px);
        font-weight: normal;
    }
    select,
    input[type=text],
    input[type=password],
    textarea {
        @extend .boxWhite;
        @include box-sizing(border-box);
        @include font-size(12px);
        @include transition(all 0.30s ease-in-out);
        padding: 0 10px;
        height: 40px;
        outline: none;
        border: 1px solid $gray;
        &:focus{
            @include box-shadow(0 0 5px rgba($laranja, 1));
            border: 1px solid rgba($laranja, 1);
        }
    }
    button{
        position: relative;
        @include box-sizing(border-box);
        @include font-size(12px);
        outline: none;
        border: 0;
        color: white;
        &:active{
            top: 1px;
        };
    }
    &.inline{
        label,
        input[type=text],
        input[type=password]{
            @include inline-block;
            margin-right: 10px;
            height: 33px;
        }
        label{
            margin-left: 10px;
        }
    }
}

// Combobox Customizado - Styled
.Styled{
    vertical-align: middle;
}

select.Styled{
    position: relative;
    z-index: 10;
    cursor: pointer;
    &.hiddenStyle{
        @include opacity(0);
    }
}

span.Styled{
    @include box-sizing(border-box);
    @include font-size(12px);
    background:{
        image: image-url('sprites/bt/select.png');
        position: 85% center;
        repeat: no-repeat;
        color: white;
    };
    position: absolute;
    z-index: 9;
    top: 0;
    left: 0;
    display: block;
    padding: 0px 5px;
    width: auto;
    height: 40px;
    border: 1px solid $gray;
    line-height: 40px;
}

// Footer
.theFooter{
    background-color: white;
    padding: 10px;
    @include box-shadow(rgba($gray, 1) 0 0 25px);
}

// Box Branco
.boxWhite{
    background:{
        image: image_url('white.png');
        repeat: repeat;
        color: transparent;
    }    
}

%container{
    @include box-sizing(border-box);
    width: 100%;
    // height: 100%;
    max-width: 760px;
    max-height: 450px;
    padding: 30px;
}

// Scrooll
.container {
    @extend %container;
    overflow:hidden;
    .content{

    }
}

.navegacao{
    @extend .text--center;
    a{
        @include inline-block;
        position: relative;
        i{
            position: absolute;
            top: -30px;
            left: 0;
            &.bt-up{
                left: -40px;
            }
            &.bt-down{
                left: 40px;
            }
        }
    }
}

// Headers
.alpha{
    @extend .caps;
    @include font-size(20px);
    color: $brand-color;
    font-style: italic;
    font-weight: bold;
}

.beta{
    @include font-size(18px);
    color: $black;
    font-weight: normal;
    font-style: italic;
    text-transform: none;
}

h2{
    @extend .alpha;
}

h3{
    @extend .beta;
}

.rfSlider{
    @include box-sizing(border-box);
    width: 400px;
    height: 300px;
    padding: 10px 20px;
    position: absolute;
    right: 60px;
    bottom: 0;
    .slideshow{
        .slides{
            position: relative;
                @include box-sizing(border-box);
                width: gridsystem-width(4) - $gutter-width;
                height: 300px;
            div{
                @include box-sizing(border-box);
                width: gridsystem-width(4) - $gutter-width;
                height: 300px;
                h2,h3,p{
                    color: $roxo;
                    font-weight: normal;
                    font-style: italic;
                    margin: 0;
                    padding: 0;
                }
                h2{
                    @include font-size(25px);
                }
                h3{
                    @include font-size(18px);
                    margin-bottom: 20px;
                }
                p{
                    @include font-size(15px);
                    font-style: normal;
                    margin-bottom: 20px;
                }
                p.med{
                    @include font-size(18px);
                    font-style: italic;
                    a{
                        color: $roxo;
                    }
                }
            }
        }
        .nav{
            margin: 0;
            line-height: normal;
            height: 14px;
            > li > a{
                vertical-align: top;
                @extend .ir;
                @extend .bt-bolinha-empty;
                &.rf-slideshownav-current-nav{
                    @extend .bt-bolinha-full;
                }
            }
        }
    }
    $offset: -45px;
    .prev,
    .next{
        position: absolute;
        top: 80px;
    }
    .prev{
        left: $offset;
    }
    .next{
        right: $offset;
    }
}

.box-cronograma {
     .tbl{
       border-collapse: separate;
       border-spacing: 1px;
   }
   color:white;
   font-style: italic;
   text-align: center;
}
table {
    text-align: center;
    vertical-align: middle;
}
.rosa {background-color: #ff7f73;}
.roxo { background-color: #7a4f66;}
.vermelho { background-color: #fd6f62; }
.cinza-escuro { background-color: #666666; }
.cinza { background-color: #e5e1e1;}
.laranja { background-color: #ee7c48;}



