$laranja: #ee7c48;
$gray: #dddddd;
$black: #333333;
$roxo: #7a4f66;

html{
    color: $black;
    font-size: 90%;
    outline: none;
}

body{
    font-family: $brand-face;
}

hr{
    border: 0;
    border-top: 1px solid white;
    display: block;
    height: 1px;
    margin: 0;
    overflow: hidden;
    padding: 0;
    &.both{
        margin: 10px 0;
    }
}

$resolucao: 981px;

.wrapper{
    @include clear-floats;
    @include helperGrid($gh1, $show);
    margin-left: auto;
    margin-right: auto;
    position: relative;
    min-width: $resolucao;
}

.main{
    margin-left: auto;
    margin-right: auto;
    min-width: $resolucao;
    height: 771px;
    overflow: hidden;
    background:{
        image: image_url('pattern.jpg');
        repeat: no-repeat;
        position: left top;
    }
    .wrapper{
        $padTop: 15px;
        padding-top: $padTop;
        height: 771px - $padTop;
        background:{
            image: image_url('bgs/home.png');
            repeat: no-repeat;
            position: right top;
        }
    }
}

.main > .wrapper > .customPad{
    padding-left: 30px;
}

$leftPos: 60px;

// Logo
.logo{
    margin-left: $leftPos;
    width: 119px;
    height: 256px;
    background:{
        image: image_url('logo.png');
        repeat: no-repeat;
        position: left tpp;
    }    
}

// Menu
.menu{
    list-style:none;
    margin-left:0;
    @extend .cf;
    li{
        @include font-size(16px);
        padding-left:40px;
        color: $brand-color;
        background:{
            image: image_url('linha.png');
            repeat: no-repeat;
            position: 10px 100%;
        }
        a{
            color: $brand-color;
            display: block;
            padding: 10px 0px 10px;
            font-style: italic;
        }
        &.current > a{
            cursor: text;
            text-decoration: none;
            font-weight: bold;
        }
    }
}

// Login
.auth{
    margin: 0 auto 30px auto;
    width: 720px;
    position: relative;
    min-height: 50px;
    background:{
        image: image_url('auth.png');
        repeat: no-repeat;
        position: center bottom;
    }
    label{
        color: $laranja;
        font-style: italic;
    }
    a{
        @include inline-block;
        @include font-size(14px);
        @extend .caps;
        position: absolute;
        margin-left: 15px;
        font-weight: normal;
        font-style: italic;
        width: 90px;
        top:6px;
        i{
            position: absolute;
            top: 26px;
            left: 20px;
        }
        &.txtbranco{
            color: white;
            .seta{
                @extend .icon-seta_login_branca;
            }
        }
        &.txtroxo{
            color: $roxo;
            .seta{
                @extend .icon-seta_login_roxa;
            }
        }
    }
}

// Erro 404
.notFound{
    @extend .text--center;
    @include font-size(22px);
    color: black;
    padding: 50px 10px;
}

// Formulário
.frm{
    label{
        @include font-size(14px);
        font-weight: normal;
    }
    select,
    input[type=text],
    input[type=password],
    textarea {
        @extend .boxWhite;
        @include box-sizing(border-box);
        @include font-size(12px);
        @include transition(all 0.30s ease-in-out);
        padding: 0 10px;
        height: 40px;
        outline: none;
        border: 1px solid $gray;
        &:focus{
            @include box-shadow(0 0 5px rgba($laranja, 1));
            border: 1px solid rgba($laranja, 1);
        }
    }
    button{
        position: relative;
        @include box-sizing(border-box);
        @include font-size(12px);
        outline: none;
        border: 0;
        color: white;
        &:active{
            top: 1px;
        };
    }
    &.inline{
        label,
        input[type=text],
        input[type=password]{
            @include inline-block;
            margin-right: 10px;
            height: 33px;
        }
        label{
            margin-left: 10px;
        }
    }
}

// Footer
.theFooter{
    background-color: white;
    padding: 10px;
    @include box-shadow(rgba($gray, 1) 0 0 25px);
}

// Box Branco
.boxWhite{
    background:{
        image: image_url('white.png');
        repeat: repeat;
        color: transparent;
    }    
}

%container{
    width: 100%;
    max-width: 760px;
    max-height: 500px;
    padding: 30px;
    position: relative;
}

// Scrooll
.container {
    @extend %container;
    overflow: auto;
}

// Navegacao do scroll -> Setinhas
.navegacao{
    @extend .text--center;
    a{
        @include inline-block;
        position: relative;
        i{
            position: absolute;
            top: -30px;
            left: 0;
            &.bt-up{
                // top: -545px;
                top: -595px;
            }
        }
    }
}

// Headers
.alpha{
    @extend .caps;
    @include font-size(20px);
    color: $brand-color;
    font-style: italic;
    font-weight: bold;
}

.beta{
    @include font-size(18px);
    color: $black;
    font-weight: normal;
    font-style: italic;
    text-transform: none;
}

h2{
    @extend .alpha;
}

h3{
    @extend .beta;
}

// Cronograma
.box-cronograma {
    color: white;
    font-style: italic;
    @include font-size(14px);
    .tbl-show{
        margin: 0;
        border-collapse: separate;
        border-spacing: 1px;
        width: 274px;
        height: 274px;
        table-layout: fixed;
        td{
            padding: 5px;
            width: 262px;
            height: 262px;
            text-align: center;
            vertical-align: middle;
            .showDia{
                @include font-size(19px);
            }
            hr{
                width: 140px;
                margin: 10px auto;
            }
        }
    }
    .tbl{
        margin: 0;
        border-collapse: separate;
        border-spacing: 1px;
        width: 240px;
        height: 240px;
        table-layout: fixed;
        td{
            cursor: pointer;
            padding: 5px;
            width: 80px;
            height: 80px;
            text-align: center;
            vertical-align: middle;
            table{
                margin: 0;
            }
            &.flush{
                margin:       0!important;
                padding:       0!important;
            }
        }
    }
}

.rosa {background-color: #ff7f73;}
.roxo { background-color: #7a4f66;}
.vermelho { background-color: #fd6f62; }
.cinza-escuro { background-color: #666666; }
.cinza { 
    background:{
        image: image_url('line.png');
        repeat: no-repeat;
        color: #e5e1e1;
        position: center center;
    }
    overflow: hidden;
    text-indent: -99999px;
}
.laranja { background-color: #ee7c48;}
